.card {
	border: 1px solid #ccc;
	background: cornflowerblue;
	border-radius: 2px;
	color: #fff;
	text-align: center;
	p {
		margin: 0.5rem;
		font-size: 1.5vw;
	}
	img {
		width: 100%;
	}
}
